* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poiret One", serif;
   color: white;
   list-style: none;
   text-decoration: none;
}

body {
   background-color: black;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

canvas {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 0;
}

.main-content {
   height: 92%;
   width: 95%;
   border: 1px solid white;
   padding: 20px;
   display: flex;
   flex-direction: column;
   position: relative;
   overflow: hidden;
}

.row {
   display: flex;
   width: 100%;
   height: 100%;
}

header {
   width: 100%;
   margin-bottom: 40px;
}

.left-content,
.right-content {
   position: relative;
   z-index: 1;
}

.left-content {
   display: flex;
   flex-direction: column;
   width: 30%;
   height: 100%;
   gap: 40px;
}

.right-content {
   width: 70%;
   height: 100%;
}

.navbar {
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.navbar a {
   font-size: 14px;
   font-weight: 500;
}

.navbar a:hover {
   opacity: 70%;
}

h1 {
   font-size: 50px;
   font-weight: 100;
}

p {
   font-size: 20px;
}

.contact {
   width: 100%;
   height: 120%;
   display: flex;
   justify-content: flex-end;
   z-index: 3;
   margin-top: -115px;
}

.contact-content {
   width: 60%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.links,
.social-media,
.gmail {
   font-weight: bold;
   font-size: 15px;
}

.gmail {
   display: flex;
   justify-content: flex-end;
}

.social-media {
   font-size: 16px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 5px;
}

.links {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   gap: 5px;
}
@media screen and (max-width: 1024px) {
   h1 {
      font-size: 30px;
   }
   .row{
      flex-wrap: wrap;
   }
   .left-content{
      width: 100%;
      height: 50%;
   }
   .right-content{
      height: 50%;
      width: 100%;
      display: flex;
      align-items: flex-end;
   }
   .contact{
      height: 100%;
   }
   .contact-content{
      width: 100%;
      justify-content: flex-end;
      gap: 25px;
   }
   .links {
      align-items: flex-start;
   }
   .gmail{
      justify-content: flex-start;
   }
}
@media screen and (max-width: 431px) {
   .main-content{
      padding: 15px;
   }
   .links,.social-media,.gmail{
      font-size: 12px;
   }
}